.intro-2 {
    background: url(https://images.pexels.com/photos/2275453/pexels-photo-2275453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)no-repeat center center;
    background-size: cover;
}
.view {
    margin-top: -56px;
}
.navbar {
    z-index: 1;
}
html,
body,
header,
.view {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.137);
}
h1 {
    text-align: center;
    color: black;
}
  
h3 {
    font-size: 10px;
}
.img{
    width: 970px;
    height:520px ;
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }