body{
    height: 100%;
    background: url(https://picjumbo.com/wp-content/uploads/white-eco-fur-pattern-background_free_stock_photos_picjumbo_DSC06787-2210x1473.jpg) ;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% auto;
   
    
}
.intro-2 {
    background: url(https://images.pexels.com/photos/255441/pexels-photo-255441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)no-repeat center center;
    background-size: cover;
}
.view {
    margin-top: -56px;
}
.navbar {
    z-index: 1;
}
html,
header,
.view {
    height: 100%;
   
   
  

}

.heading{
    text-align: center;
    color: #ffffff;
    font-size: 3.75rem; 
    position: relative;

}
h2 {
    font-size: 8r;
    font-weight: bold;
    
    
}

p {
    font-size: 1rem;
   
    font-style: oblique;
  
}
.img{
    width: 970px;
    height:520px ;
}
@media (min-width: 100px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }
   
    .answers{
    display: block;
    font-size: 1rem bold;
    border: 5rem rgba(255, 255, 255, 0.137);
    font-weight: bolder;
    margin-top: -33px; 
    padding: 10px;
    margin-left: 2%;
   
    }


    .container{
        width: 970px;
    }
    .radio {
     display: inline-block;
    }
    .questions{
        font-weight: bold;
        font-size: 1.4rem;
        color: black;
        padding: 1rem;
      
       
    }
    button{
        text-align: center;
    }