.intro-2 {
    background: url(https://images.pexels.com/photos/2275453/pexels-photo-2275453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)no-repeat center center;
    background-size: cover;
}
.view {
    margin-top: -56px;
}
.navbar {
    z-index: 1;
}
html,
body,
header,
.view {
    height: 100%;
   
  

}
.heading{
    text-align: center;
    color: #ffffff;
    font-size: 10rem; 

}
h2 {
    font-size: 4rem;
    font-weight: bold;
    
    
}

p {
    font-size: 1rem;
   
    font-style: oblique;
  
}
.img{
    width: 970px;
    height:520px ;
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }
    
    .answers{
    display: block;
    font-size: 1rem bold;
    border: 5rem rgba(255, 255, 255, 0.137);
    font-weight: bolder;
    margin-top: -33px;
    background-color:#f3f3f3;
    padding: 10px;
   
    }
    label{
        margin-left: 12%;
        margin-right: 12%;   
    }

    .container{
        justify-content: center;
    }
    .radio {

        margin-left: 10%;
        display: inline-block;
    }
    .questions{
        margin-left: 10%;
        margin-right: 10%;
        font-weight: bolder;
        font-size: 1.4rem'
       
    }